@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --beige-500: hsl(23, 6%, 57%);
  --beige-100: hsl(30, 36%, 96%);

  --grey-900: hsl(252, 7%, 13%);
  --grey-500: hsl(0, 0%, 41%);
  --grey-300: hsl(0, 0%, 70%);
  --grey-100: hsl(0, 0%, 95%);

  --green: hsl(177, 52%, 32%);
  --yellow: hsl(28, 73%, 81%);
  --cyan: hsl(190, 52%, 68%);
  --navy: hsl(248, 8%, 41%);
  --red: hsl(7, 58%, 50%);
  --purple: hsl(259, 30%, 56%);

  --pink: hsl(288, 29%, 62%);
  --turquoise: hsl(180, 16%, 42%);
  --brown: hsl(21, 30%, 44%);
  --magenta: hsl(332, 30%, 44%);
  --blue: hsl(205, 48%, 47%);
  --navy-grey: hsl(214, 11%, 63%);
  --army-green: hsl(83, 20%, 47%);
  --gold: hsl(47, 50%, 59%);
  --orange: hsl(18, 47%, 52%);

  --white: hsl(0, 0%, 100%);
}

.public-sans-regular {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.public-sans-bold {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
html {
  height: 100%;
  margin: 0 auto;
  max-width: 90rem;
}
body {
  min-height: 100%;
  display: flex;
  flex-direction: column-reverse;
}

.dropdown {
  /* position: relative; */
  display: inline-flex;
  display: inline flex;
  height: max-content;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;

  & > label {
    display: none;
    color: var(--grey-500);
  }

  & > div {
    display: none;
    position: relative;
    & > button {
      display: flex;
      align-items: center;
      gap: 1rem;
      padding-inline: 1.25rem;
      padding-block: 0.75rem;
      height: max-content;
      border: 1px solid var(--beige-500);
      border-radius: 0.5rem;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content {
  max-height: 18.75rem;
  overflow-y: auto;
  display: none;
  position: absolute;
  min-width: 100%;
  color: var(--grey-900);
  background-color: var(--white);
  padding: 0;
  list-style: none;
  border-radius: 0.5rem;
  box-shadow: 0rem 0.75rem 1.5rem 0rem hsl(from black h s l / 0.25);
  z-index: 1;
  & li {
    padding-inline: 1.25rem;

    &:not(:last-child) > button {
      border-bottom: 1px solid var(--grey-100);
      width: 100%;
    }
    & button {
      padding-block: 0.75rem;
    }
    &:hover {
      cursor: pointer;
      background-color: #ddd;
    }
  }
}

header {
  background-color: var(--grey-900);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;

  & nav {
    display: flex;
    /* flex-direction: column; */
    align-items: flex-start;
    height: 100%;
    justify-content: center;
    /* inline-size: 18.75rem; */
  }
}
main {
  flex: 1;
  padding-block: 2rem;
  padding-inline: 2.5rem;
  display: flex;
  flex-direction: column;
  background-color: var(--beige-100);
  gap: 1rem;
}
.main-transactions {
  flex: 1;
  background-color: var(--white);
  border-radius: 0.75rem;
  padding: 2rem;
}
#mini-menu {
  display: none;
}
.search-container {
  display: flex;
  gap: 1.5rem;
}

.search-input {
  display: flex;
  align-items: center;
  border: 1px solid var(--beige-500);
  height: max-content;
  border-radius: 0.5rem;
  margin-inline-end: auto;
  & input {
    border-radius: 0.5rem;
    border: 0;
    padding-inline-start: 1.25rem;
    padding-block: 0.75rem;
    font-size: 0.875rem;
    line-height: 1.5;
    inline-size: 20rem;
    outline: none;
  }

  & img {
    padding: 0.90625rem;
  }
}
.sidebar-logo {
  display: none;
}
#sidebar-menu {
  display: flex;
  /* flex-direction: column; */
  padding: 0;
  list-style: none;
  padding-inline-end: 1.5rem;
  /* inline-size: 18.75rem; */
  margin-block-end: auto;

  & li {
    border-left: 0.25rem solid transparent;
    width: 17.25rem;
  }
  & button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 1rem;
    padding-inline: 2rem;
    gap: 1rem;
    font-size: 1rem;
    line-height: 1.5;

    color: var(--grey-300);
  }
}

@media (min-width: 48rem) {
  .dropdown {
    & > div {
      display: block;
    }
    & > label {
      display: block;
    }

    & > img {
      display: none;
    }
  }
}
@media (min-width: 90rem) {
  body {
    flex-direction: row;
  }

  header {
    border-top-left-radius: 0rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;

    & nav {
      /* flex-direction: row; */
      flex-direction: column;
    }
  }

  .sidebar-logo {
    display: block;
    padding-inline: 2rem;
    padding-block: 2.5rem 4rem;
  }

  #sidebar-menu {
    flex-direction: column;

    & button {
      flex-direction: row;
    }
  }
  #mini-menu {
    padding-inline: 2rem;

    padding-block: 1rem;
    display: flex;
    gap: 1rem;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--grey-300);
    margin-block-end: 8.0775rem;
  }
}
