@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --beige-500: hsl(23, 6%, 57%);
  --beige-100: hsl(30, 36%, 96%);

  --grey-900: hsl(252, 7%, 13%);
  --grey-500: hsl(0, 0%, 41%);
  --grey-300: hsl(0, 0%, 70%);
  --grey-100: hsl(0, 0%, 95%);

  --green: hsl(177, 52%, 32%);
  --yellow: hsl(28, 73%, 81%);
  --cyan: hsl(190, 52%, 68%);
  --navy: hsl(248, 8%, 41%);
  --red: hsl(7, 58%, 50%);
  --purple: hsl(259, 30%, 56%);

  --pink: hsl(288, 29%, 62%);
  --turquoise: hsl(180, 16%, 42%);
  --brown: hsl(21, 30%, 44%);
  --magenta: hsl(332, 30%, 44%);
  --blue: hsl(205, 48%, 47%);
  --navy-grey: hsl(214, 11%, 63%);
  --army-green: hsl(83, 20%, 47%);
  --gold: hsl(47, 50%, 59%);
  --orange: hsl(18, 47%, 52%);

  --white: hsl(0, 0%, 100%);
}

.public-sans-regular {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.public-sans-bold {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
html {
  height: 100%;
  margin: 0 auto;
  max-width: 90rem;
}
body {
  min-height: 100%;
  display: flex;
  flex-direction: column-reverse;
}

.budget-card {
  background-color: var(--white);
  border-radius: 0.75rem;

  padding-inline: 1.25rem;
  padding-block: 1.5rem 1rem;
}

.budget-cards {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.budget-chart {
  margin-block: 1.25rem;
  margin-inline: 1.96875rem;
  width: 15rem;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  border-radius: 50%;
  background: conic-gradient(
    at 50% 50%,
    var(--green) 0%,
    var(--green) 6%,
    var(--cyan) 6%,
    var(--cyan) 67%,
    var(--yellow) 67%,
    var(--yellow) 83%,
    var(--navy) 83%,
    var(--navy) 100%
  );
  & > div {
    border-radius: 50%;
    border: 0.79rem solid hsl(from var(--white) h s l / 0.25);

    & > p {
      background-color: var(--white);
      border-radius: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: var(--grey-500);
      gap: 0.5rem;
      padding-block: 3.0625rem;
      padding-inline: 2.5rem 2.4375rem;
      & > span {
        color: var(--grey-900);
        font-size: 2rem;
        line-height: 1.2;
      }
    }
  }
}

button[popovertarget] {
  min-width: 1rem;
}

.category-card {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  & .theme-container {
    display: flex;
    justify-content: space-between;

    & div {
      display: flex;
      align-items: center;
      color: var(--grey-900);
      gap: 1rem;
      font-size: 1.25rem;
      line-height: 1.2;
      & div {
        border-radius: 50%;
        width: 1rem;
        height: 1rem;
      }
    }
  }

  & .budget-progress-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & label {
      font-size: 0.875rem;
      line-height: 1.5;
      color: var(--grey-500);
    }

    & progress {
      /* --progress-value: var(--green); */

      -webkit-appearance: none;
      width: 100%;
      height: 2rem;
      border-radius: 0.25rem;
      background-color: var(--beige-100);
      /* color: var(--green); */
      /* border-radius: 62.4375rem; */
      /* margin-block-end: clamp(2.5rem, 1.0687rem + 6.1069vw, 4rem); */

      &::-webkit-progress-bar {
        background-color: var(--beige-100);
        border-radius: 0.25rem;
        /* border-radius: 62.4375rem; */
        padding: 0.25rem;
      }

      &::-webkit-progress-value {
        background-color: var(--progress-value);

        max-height: 1.5rem;
        border-radius: 0.25rem;
        /* padding: 0.25rem; */
      }
    }

    & .budget-numbers-container {
      display: flex;
      gap: 1rem;

      & .budget-numbers {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        & p {
          color: var(--grey-500);
          font-size: 0.75rem;
          line-height: 1.5;
        }

        & span {
          color: var(--grey-900);
          font-size: 0.875rem;
          line-height: 1.5;
        }
      }
    }
  }
}
.chart-card {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  & .chart-summary {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    & > h3 {
      color: var(--grey-900);
      font-size: 1.25rem;
      line-height: 1.2;
    }

    & .chart-category {
      color: var(--grey-500);
      display: flex;
      /* justify-content: space-between; */
      padding-block: 1rem;
      border-bottom: 1px solid var(--grey-100);
      line-height: 1.5;

      & p {
        font-size: 0.75rem;
        &:is(:nth-child(2)) {
          padding-inline-start: 1rem;
          font-size: 0.875rem;
          margin-inline-end: auto;
        }
      }
      & span {
        color: var(--grey-900);
        font-size: 1rem;
      }

      /* & div {
        width: 0.25rem;
        border-radius: 0.5rem;
        background-color: var(--cyan);
      } */
      &:first-child {
        padding-block-start: 0;
      }
      &:last-child {
        border-bottom-color: transparent;
      }
      /* &:nth-child(2) > div {
        background-color: var(--yellow);
      }
      &:nth-child(3) > div {
        background-color: var(--navy);
      } */

      /* &:last-child > div {
        background-color: var(--green);
      } */
    }
  }
}

[data-theme] {
  width: 0.25rem;
  border-radius: 0.5rem;
  background-color: var(--beige-100);
}

[data-theme="cyan"] {
  background-color: var(--cyan);
}
[data-theme="yellow"] {
  background-color: var(--yellow);
}
[data-theme="navy"] {
  background-color: var(--navy);
}
[data-theme="green"] {
  background-color: var(--green);
}
.dropdown {
  display: inline-flex;
  display: inline flex;
  height: max-content;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;

  & > label {
    display: none;
    color: var(--grey-500);
  }

  & > div {
    display: none;
    position: relative;
    & > button {
      display: flex;
      align-items: center;
      /* gap: 1rem; */
      padding-inline: 1.25rem;
      justify-content: space-between;
      padding-block: 0.75rem;
      height: max-content;
      border: 1px solid var(--beige-500);
      border-radius: 0.5rem;

      &#sort-by-btn {
        min-width: 4.9511rem;
      }

      &#category-btn {
        min-width: 8.28rem;
      }
    }

    &:hover {
      cursor: pointer;
    }
  }

  & > img {
    min-width: 1rem;
  }
}

.dropdown-content {
  max-height: 18.75rem;
  overflow-y: auto;
  display: none;
  position: absolute;
  min-width: 100%;
  color: var(--grey-900);
  background-color: var(--white);
  padding: 0;
  list-style: none;
  border-radius: 0.5rem;
  box-shadow: 0rem 0.75rem 1.5rem 0rem hsl(from black h s l / 0.25);
  z-index: 1;
  & li {
    padding-inline: 1.25rem;

    &:not(:last-child) > button {
      border-bottom: 1px solid var(--grey-100);
      width: 100%;
    }
    & button {
      padding-block: 0.75rem;
    }
    &:hover {
      cursor: pointer;
      background-color: #ddd;
    }
  }
}

.hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

header {
  background-color: var(--grey-900);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;

  & nav {
    display: flex;
    align-items: flex-start;
    height: 100%;
    justify-content: center;
  }
}
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--beige-100);
  gap: 2rem;
  padding-block: clamp(1.5rem, 1.0229rem + 2.0356vw, 2rem);
  padding-inline: clamp(1rem, -0.4313rem + 6.1069vw, 2.5rem);
  & .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & > h1 {
      color: var(--grey-900);
      font-size: 2rem;
      line-height: 1.2;
    }

    & > button {
      color: var(--white);
      background-color: var(--grey-900);
      line-height: 1.5;
      padding-inline: 1rem;
      padding-block: 1rem;
      border-radius: 0.5rem;
      font-size: 0.875rem;
    }
  }
}
.main-transactions {
  flex: 1;
  background-color: var(--white);
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;

  padding-inline: clamp(1.25rem, 0.5344rem + 3.0534vw, 2rem);
  padding-block: clamp(1.5rem, 1.0229rem + 2.0356vw, 2rem);

  gap: 1.5rem;
}
.main-budgets {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
#mini-menu {
  display: none;
  align-items: center;

  & svg {
    min-height: 1.5rem;
  }
}

.title {
  color: var(--grey-900);
  font-size: 0.875rem;
  line-height: 1.5;
}

.positive {
  color: var(--green);
}

.search-container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.search-input {
  display: flex;
  align-items: center;
  border: 1px solid var(--beige-500);
  height: max-content;
  border-radius: 0.5rem;
  margin-inline-end: auto;

  inline-size: clamp(10.0625rem, 16.6579rem + -13.7405vw, 13.4375rem);

  & input {
    min-width: 0;
    border-radius: 0.5rem;
    border: 0;
    outline: none;
    padding-inline-start: 1.25rem;
    padding-block: 0.75rem;
    font-size: 0.875rem;
    line-height: 1.5;

    &[placeholder] {
      text-overflow: ellipsis;
    }
  }

  & img {
    padding-inline: 1rem 0.90625rem;
    padding-block: 0.90625rem;
  }
}
.sidebar-logo {
  display: none;
}
#sidebar-menu {
  display: flex;
  padding: 0;
  list-style: none;

  gap: clamp(0rem, -2.5048rem + 10.687vw, 2.625rem);

  padding-inline-end: 0rem;
  padding-block-start: 0.5rem;

  margin-block-end: auto;

  & li {
    border-left: 0rem solid transparent;
    border-bottom: 0.25rem solid transparent;
  }
  & button {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5;

    padding-block: 0.5rem;
    padding-inline: clamp(0.9375rem, 1.8291rem + -1.8575vw, 1.3938rem);
    gap: 0.25rem;
    font-size: 0.75rem;

    color: var(--grey-300);

    & span {
      display: none;
    }
  }

  & svg {
    min-width: 1.5rem;
  }

  .checked {
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    border-bottom-right-radius: 0rem;
    border-left: 0rem solid transparent;
    border-bottom-left-radius: 0rem;
    border-bottom: 0.25rem solid var(--green);
    background-color: var(--beige-100);

    & svg {
      color: var(--green);
    }
    & button {
      color: var(--grey-900);
    }
  }
}
.popover {
  margin: auto;
  border: 0;
  display: none;

  &::backdrop {
    background-color: hsl(from var(--grey-900) h s l / 0.25);
  }
}

:popover-open {
  display: block;
  min-width: 80%;
}
table {
  width: 100%;
  max-height: 43.5rem;

  margin-block-end: auto;
}

tbody {
  /* display: block; */
  overflow: auto;
  color: var(--grey-500);
  th {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  & tr > :is(td, th) {
    border-bottom: 1px solid var(--grey-100);
    font-size: 0.75rem;
    line-height: 1.5;
    padding-inline: 1rem 0rem;
    padding-block: 1rem;

    &:first-child {
      padding-inline: clamp(0rem, -1.1429rem + 2.381vw, 1rem) 0;
    }
  }

  & tr > :is(td) {
    &:is(:nth-child(2)) > p {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: clamp(8.1875rem, 3.1183rem + 21.6285vw, 13.5rem);
    }
  }

  & tr:not(.hidden):last-child > :is(td, th) {
    border-bottom: 1px solid transparent;
  }
}

td:nth-child(3) {
  & p {
    text-align: end;
  }
}

thead {
  display: none;

  & tr th {
    padding-inline: 1rem;
    padding-block: 0.75rem;
    border-bottom: 1px solid var(--grey-100);
    font-size: 0.75rem;
    line-height: 1.5;
  }
}

[colspan="1"],
[scope="col"] {
  text-align: left;
  color: var(--grey-500);

  &:is(:last-child) {
    text-align: end;
  }
}
.transaction-list {
  padding: 0;
  & > li:first-child {
    display: none;
  }
}

.transactions-headers {
  display: flex;
  font-size: 0.75rem;
  line-height: 1.5;
}

.sender-desktop {
  display: none;
}
.page-btns {
  display: flex;
  line-height: 1.5;
  align-items: center;
  border: 1px solid var(--beige-500);
  gap: 1rem;
  font-size: 0.875rem;
  padding-inline: 1rem;
  border-radius: 0.5rem;

  & img {
    padding-block: 0.9375rem;
  }
  & span {
    display: none;
  }
}
.page-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-number-btns {
  display: flex;
  gap: 0.5rem;

  & button {
    padding-inline: 1.0625rem;
    padding-block: 0.59375rem;
    border: 1px solid var(--beige-500);
    border-radius: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;

    &.active {
      background-color: var(--grey-900);
      color: var(--white);
    }

    &:not(:first-child, :last-child, .active, .ellipse) {
      display: none;
    }
  }
}

.profile-pic {
  border-radius: 50%;
  min-width: 2rem;
  width: clamp(2rem, 1.5229rem + 2.0356vw, 2.5rem);
}

@media (min-width: 48rem) {
  .dropdown {
    & > div {
      display: block;
    }
    & > label {
      display: block;
    }

    & > button {
      display: none;
    }
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .popover {
    display: none;
  }

  :popover-open {
    display: none;
  }
  .mobile-name {
    display: none;
  }

  .search-input {
    inline-size: clamp(10.0625rem, -1.2946rem + 23.6607vw, 20rem);
  }

  #sidebar-menu {
    gap: clamp(0rem, 5.625rem + -6.25vw, 2.625rem);
    padding-inline-end: clamp(0rem, -1.7143rem + 3.5714vw, 1.5rem);
    padding-block-start: clamp(0rem, 1.0714rem + -1.1905vw, 0.5rem);

    & li {
      max-width: clamp(6.5rem, -5.7857rem + 25.5952vw, 17.25rem);
      min-width: min-content;
    }
    & button {
      padding-block: clamp(0.5rem, -0.0714rem + 1.1905vw, 1rem);
      padding-inline: clamp(0.9375rem, -0.2768rem + 2.5298vw, 2rem);
      gap: clamp(0.25rem, -0.6071rem + 1.7857vw, 1rem);
      font-size: clamp(0.75rem, 0.4643rem + 0.5952vw, 1rem);
      & span {
        display: block;
      }
    }
  }
  .sender-desktop {
    display: table-cell;
  }

  .page-btns {
    & span {
      display: block;
    }
  }
  .page-number-btns {
    display: flex;
    gap: 0.5rem;

    & button {
      &:not(:first-child, :last-child, .active, .ellipse) {
        display: block;
      }
    }
  }

  thead {
    display: table-header-group;
  }
  th:nth-child(1) {
    width: clamp(17rem, 5.8571rem + 23.2143vw, 26.75rem);
    padding-inline: clamp(0rem, -1.1429rem + 2.381vw, 1rem) 0;
  }

  tbody {
    & tr > :is(td) {
      &:is(:nth-child(2)) > p {
        width: auto;
      }
    }
  }

  td:nth-child(3) {
    & p {
      text-align: start;
    }
  }
  .transaction-list {
    & > li:first-child {
      display: grid;
    }
  }
}
@media (min-width: 90rem) {
  body {
    flex-direction: row;
  }

  header {
    border-top-left-radius: 0rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;

    & nav {
      flex-direction: column;
    }
  }

  .sidebar-logo {
    display: block;
    padding-inline: 2rem;
    padding-block: 2.5rem 4rem;
  }

  #sidebar-menu {
    flex-direction: column;

    & li {
      border-left: 0.25rem solid transparent;
      border-bottom: 0;
    }

    & button {
      flex-direction: row;
    }

    .checked {
      border-left: 0.25rem solid var(--green);
      border-bottom: 0;

      border-top-right-radius: 0.75rem;
      border-bottom-right-radius: 0.75rem;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
  #mini-menu {
    padding-inline: 2rem 0;

    padding-block: 1rem;
    display: flex;
    gap: 1rem;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--grey-300);
    margin-block-end: 8.0775rem;
  }
}
